.header{
    padding: 30px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        max-width: 600px;
        width: 100%;
    }

    .menu-list{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .menu-item{
        list-style: none;
    }
    .menu-item a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
    }
    .menu-item a:hover{
        border-bottom: 2px solid #fff;
    }
    
    .currently{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        user-select: none;
        color:#fff;
    }
    .navbar__wrapper_icon{
        display: none;
    }
}
   

