@font-face {
    font-family:  'Gilroy';
    src: url("../fonts/Gilroy-Semibold.woff");
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Black.woff");
    font-display: swap;
}
