@use 'sass:math';

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';

// Подключение sass функций и миксинов и рассширений стилей =======================================================================================================================
@import 'config/functions';
@import 'config/mixins';
@import 'config/patternSelectors';

// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/
@import 'libs/animate.css.scss';
// @import 'libs/swiper';

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import 'config/scrollbar';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import 'config/base';

// БЕМ блоки используемые во всё проекте =======================================================================================================================
@import 'config/common';

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/header';
@import 'layout/main';
@import 'layout/why';
@import 'layout/products';
@import 'layout/order';
@import 'layout/footer';


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn{
    max-width: 260px;
    background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
    border-radius: 8px;
    padding: 19px 50px;
    color: #191411;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: 0;
    transition: 1s all;
}
.btn:hover{
    transform: scale(1.2);
}

.main{
    overflow: hidden;
    background: url("../images/main_bg.png") no-repeat;
    max-width: 1920px;
    margin: 0 auto;
}

.title{
    font-family: 'Merriweather', sans-serif;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 60px;
}

@import 'layout/media';